<!-- Pre Loader -->
<!-- <div id="aa-preloader-area">
	<div class="mu-preloader">
		<img src="/images/ajax-loader.gif" alt=" loader img">
	</div>
</div> -->

{{#each product}}
<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-1">
				</div>
				<div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 col-sm-12 single-top-left">
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="{{imagePath}}">
									<div class="thumb-image"> <img src="{{imagePath}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{{secondimagePath}}">
									 <div class="thumb-image"> <img src="{{secondimagePath}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{{thirdimagePath}}">
								   <div class="thumb-image"> <img src="{{thirdimagePath}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>
						<!-- FlexSlider -->
						<script src="javascripts/imagezoom.js"></script>
						<script defer src="javascripts/jquery.flexslider.js"></script>
						<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="screen" />

						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
					</div>
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
						<h2>{{this.title}}</h2>
							<div class="star-on">
								<ul class="star-footer">
									<li style="display: {{this.starone}}"><a href="#"><i> </i></a></li>
									<li style="display: {{this.startwo}}"><a href="#"><i></i></a></li>
									<li style="display: {{this.starthree}}"><a href="#"><i> </i></a></li>
									<li style="display: {{this.starfour}}"><a href="#"><i> </i></a></li>
									<li style="display: {{this.starfive}}"><a href="#"><i> </i></a></li>
								</ul>

							<div class="clearfix"> </div>
							</div>

							<h5 class="item_price">$ {{this.price}}</h5>
							<p>{{this.description}}</p>


								<a href="/kids-watches-cart/{{this._id}}" class="add-cart item_add">ADD TO CART</a>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
			<div class="col-md-1">
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{{/each}}


<div class="container">
	<div class="ckeck-top heading">
		<h2>Recommended Watches</h2>
	</div>
    <div class="latestproducts">
      <div class="product-one">
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Kids-Watches/585b783ef377d865af4245e5" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/9218627/Girls-Pink-Princess-Time-Teacher-Watch-7822fa81-5255-4cc8-94aa-0b4984082de5_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Kids-Watches/585b783ef377d865af4245e5" ><h3>Girl's Pink Princess</h3></a>
              <a href="/Kids-Watches/585b783ef377d865af4245e5" ><p>Explore Now</p></a>
              <h4> <span class=" item_price">$ 40</span></h4>
            </div>
            <div class="srch">
              <span>SALE</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Kids-Watches/585905d93b1d922d1060a326" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/9441382/Geneva-Platinum-Girls-Princess-Design-Silicone-Watch-3fb62fd5-abb6-4067-a9b4-198097197d66_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Kids-Watches/585905d93b1d922d1060a326" ><h3>Geneva Princess</h3></a>
              <a href="/Kids-Watches/585905d93b1d922d1060a326" ><p>Explore Now</p></a>
              <h4><span class=" item_price">$ 50</span></h4>
            </div>
            <div class="srch">
              <span>SALE</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Kids-Watches/585b783ef377d865af4245dd" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/13266814/Dakota-Kids-and-Teens-Plastic-and-Stainless-Steel-Midsize-Fun-Color-Digital-Watch-830dfd78-1290-43c8-8848-3264ca4e2f41_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Kids-Watches/585b783ef377d865af4245dd" ><h3>Dakota Midsizex Color</h3></a>
              <a href="/Kids-Watches/585b783ef377d865af4245dd" ><p>Explore Now</p></a>
              <h4><span class=" item_price">$ 30</span></h4>
            </div>
            <!-- <div class="srch">
              <span>-50%</span>
            </div> -->
          </div>
        </div>
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Kids-Watches/585b783ef377d865af4245e3" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/10625657/LEGO-DC-Super-Heroes-Wonder-Woman-Kids-Minifigure-Interchangeable-Links-Watch-c489e0da-195c-47b7-b8f5-19d7dfda0d69_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Kids-Watches/585b783ef377d865af4245e3" ><h3>LEGO DC Wonder Woman</h3></a>
              <a href="/Kids-Watches/585b783ef377d865af4245e3" ><p>Explore Now</p></a>
              <h4><span class=" item_price">$ 60</span></h4>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>

  </div>
	<!--end-single-->
