<!-- Pre Loader -->
<div id="aa-preloader-area">
	<div class="mu-preloader">
		<img src="/images/ajax-loader.gif" alt=" loader img">
	</div>
</div>



<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<img src="images/slider1.jgp" alt=""/>
				</li>
				<li>
					<img src="images/slider2.jgp" alt=""/>
				</li>
				<li>
					<img src="images/slider3.jgp" alt=""/>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends-->
	<!--Slider-Starts-Here-->
				<script src="javascripts/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
			  </script>
			<!--End-slider-script-->

      <!--about-starts-->
      	<div class="about">
      		<div class="container">
      			<div class="about-top grid-1">
      				<div class="col-md-4 about-left">
								<a href="/Mens-Watches">
	      					<figure class="effect-bubba">
	      						<img class="img-responsive" src="https://ak1.ostkcdn.com/images/products/15266181_ORIGINAL_2_600.jpg" alt=""/>
	      						<figcaption>
	      							<h2>Men Watches</h2>
	      							<p>Browse through our Mens watches</p>
	      						</figcaption>
	      					</figure>
								</a>
      				</div>
      				<div class="col-md-4 about-left">
								<a href="/Kids-Watches">
	      					<figure class="effect-bubba">
	      						<img class="img-responsive" src="https://ak1.ostkcdn.com/images/products/10703847/BulbBotz-Star-Wars-Kids-Light-Up-Stormtrooper-Watch-5b7e43f3-550a-44d0-a1ad-e6ec541a9263_600.jpg" height="42" alt=""/>
	      						<figcaption>
	      							<h4>Kids Watches</h4>
	      							<p>Browse through our Kids watches</p>
	      						</figcaption>
	      					</figure>
								</a>
      				</div>
      				<div class="col-md-4 about-left">
								<a href="/Womens-Watches">
									<figure class="effect-bubba">
	      						<img class="img-responsive" src="https://ak1.ostkcdn.com/images/products/9358329/Michael-Kors-Womens-MK5801-Runway-Pink-Dial-Goldtone-Stainless-Steel-Watch-103f17bd-6ac4-40ed-a652-877220df9964_600.jpg" alt=""/>
	      						<figcaption>
	      							<h4>Women Watches</h4>
	      							<p>Browse through our Womans watches</p>
	      						</figcaption>
	      					</figure>
								</a>
      				</div>
      				<div class="clearfix"></div>
      			</div>
      		</div>
      	</div>
      	<!--about-end-->


				<!--prdt-starts-->
				  <div class="container">
						<div class="ckeck-top heading">
							<h2>Featured Watches</h2>
						</div>
				    {{# each products }}
				      <div class="">
				          {{# each this }}
				          <div class="col-md-3 col-sm-6 product-lef">
				            <div class="product-main simpleCart_shelfItem">
				              <a href="/Mens-Watches/{{this._id}}" class="mask"><img class="img-responsive zoom-img" src="{{this.imagePath}}" alt="" /></a>
				              <div class="product-bottom">
				                <h3>{{this.title}}</h3>
				                <p>Explore Now</p>
				                <h4><a class="item_add" href="/mens-watches-carts/{{this._id}}"><i></i></a> <span class=" item_price">${{this.price}}</span></h4>
				              </div>
				              <div class="srch" style="display: {{this.sale}};">
				                <span>SALE</span>
				              </div>
				            </div>
				          </div>
				        {{/each}}
				      </div>
				    {{/each}}
				  </div>

				<!--product-end-->
