<!-- Pre Loader -->
<!-- <div id="aa-preloader-area">
  <div class="mu-preloader">
    <img src="/images/ajax-loader.gif" alt=" loader img">
  </div>
</div> -->

<div class="">


<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-2">
    <div class="ckeck-top heading">
      <h2>My Orders</h2>
    </div>
    {{# each orders}}
		<div class="panel panel-default">
  			<div class="panel-body">
				<ul class="list-group">
					{{# each this.items}}

	  					<li class="list-group-item">
							<img src="{{this.item.imagePath}}" alt="..." class="img-responsive " style="max-height: 170px;" >
  					{{this.item.name}}
						<a class=" pull-right">${{this.price}}</a>
	  					</li>
	  				{{/each}}
				</ul>
			</div>
<h4 class="panel-padding">Order placed:</h4>
<b> <h2 style="font-family:new century schoolbook; padding-top: 0px; " class="panel-padding">{{moment this.created_at format="MMMM Do YYYY, HH:mm" }}</h2>	</b>


		<div class="panel-footer"><strong>Total Price: ${{this.cart.totalPrice}}</strong></div>
		</div>
		{{/each}}
	</div>
</div>

</div>
