
<!--prdt-starts-->
  <div class="container">
    <div class="ckeck-top heading">
      <h2>Mens Watches</h2>
    </div>
    {{# each products }}
      <div class="">
          {{# each this }}
          <div class="col-md-3 col-sm-6 product-lef">
            <div class="product-main simpleCart_shelfItem">
              <a href="/Mens-Watches/{{this._id}}" class="mask"><img class="img-responsive zoom-img" src="{{this.imagePath}}" alt="" /></a>
              <div class="product-bottom">
                <h3>{{this.title}}</h3>
                <p>Explore Now</p>
                <h4><a class="item_add" href="/mens-watches-carts/{{this._id}}"><i></i></a> <span class=" item_price">${{this.price}}</span></h4>
              </div>
              <div class="srch" style="display: {{this.sale}};">
                <span>SALE</span>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>

<!--product-end-->
