<!-- Pre Loader -->
<!-- <div id="aa-preloader-area">
	<div class="mu-preloader">
		<img src="/images/ajax-loader.gif" alt=" loader img">
	</div>
</div> -->

{{#each product}}
<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-1">
				</div>
				<div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 col-sm-12 single-top-left">
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="{{imagePath}}">
									<div class="thumb-image"> <img src="{{imagePath}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{{secondimagePath}}">
									 <div class="thumb-image"> <img src="{{secondimagePath}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{{thirdimagePath}}">
								   <div class="thumb-image"> <img src="{{thirdimagePath}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>
						<!-- FlexSlider -->
						<script src="javascripts/imagezoom.js"></script>
						<script defer src="javascripts/jquery.flexslider.js"></script>
						<link rel="stylesheet" href="/stylesheets/flexslider.css" type="text/css" media="screen" />

						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
					</div>
					<div class="col-md-7 single-top-right">
						<div class="single-para simpleCart_shelfItem">
						<h2>{{this.title}}</h2>
							<div class="star-on">
								<ul class="star-footer">
										<li style="display: {{this.starone}}"><a href="#"><i> </i></a></li>
										<li style="display: {{this.startwo}}"><a href="#"><i></i></a></li>
										<li style="display: {{this.starthree}}"><a href="#"><i> </i></a></li>
										<li style="display: {{this.starfour}}"><a href="#"><i> </i></a></li>
										<li style="display: {{this.starfive}}"><a href="#"><i> </i></a></li>
									</ul>

							<div class="clearfix"> </div>
							</div>

							<h5 class="item_price">$ {{this.price}}</h5>
							<p>{{this.description}}</p>


								<a href="/mens-watches-cart/{{this._id}}" class="add-cart item_add">ADD TO CART</a>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
			<div class="col-md-1">
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{{/each}}


<div class="container">
		<div class="ckeck-top heading">
			<h2>Recommended Watches</h2>
		</div>
    <div class="latestproducts">
      <div class="product-one">
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Mens-Watches/585b7844a339a465b9f58b3b" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/9027440/Stuhrling-Original-Mens-Albion-Swiss-Quartz-Stainless-Steel-Bracelet-Watch-4488330a-955f-4dfe-a0b5-d654f8ba7205_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Mens-Watches/585b7844a339a465b9f58b3b" ><h3>Stuhrling Albion</h3></a>
            <a href="/Mens-Watches/585b7844a339a465b9f58b3b" ><p>Explore Now</p></a>
              <h4><a class="item_add" href="/"><i></i></a> <span class=" item_price">$ 64</span></h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Mens-Watches/585b7844a339a465b9f58b3e" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/10182504/Joshua-Sons-Classic-Mens-Quartz-Rectangle-Date-Leather-Gold-Tone-Strap-Watch-91d198cc-41dc-4784-8552-12c91ae2f198_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Mens-Watches/585b7844a339a465b9f58b3e"><h3>Joshua & Sons Japanese</h3></a>
            <a href="/Mens-Watches/585b7844a339a465b9f58b3e" ><p>Explore Now</p></a>
              <h4><a class="item_add" href="/"><i></i></a> <span class=" item_price">$ 39</span></h4>
            </div>
            <div class="srch">
              <span>SALE</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Mens-Watches/585b7844a339a465b9f58b3d" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/11041644/Jules-Breting-Adama-Stainless-Steel-Mens-Swiss-Chronograph-Blue-Dial-Watch-a8171cb8-9a03-44a3-a7b5-4f97445b6895_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Mens-Watches/585b7844a339a465b9f58b3d" ><h3>Jules Breting Adama</h3></a>
              <a href="/Mens-Watches/585b7844a339a465b9f58b3d" ><p>Explore Now</p></a>
              <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$  129</span></h4>
            </div>
            <!-- <div class="srch">
              <span></span>
            </div> -->
          </div>
        </div>
        <div class="col-md-3 product-lef">
          <div class="product-main simpleCart_shelfItem">
            <a href="/Mens-Watches/585b7844a339a465b9f58b3c" class="mask"><img class="img-responsive zoom-img" src="https://ak1.ostkcdn.com/images/products/8815185/Timex-Mens-T49963-Expedition-Scout-Brown-Leather-Strap-Watch-965925ab-6b27-4d94-a565-9bcccf3bae35_600.jpg" alt="" /></a>
            <div class="product-bottom">
              <a href="/Mens-Watches/585b7844a339a465b9f58b3c" ><h3>Timex T49963 Expedition</h3></a>
              <a href="/Mens-Watches/585b7844a339a465b9f58b3c" ><p>Explore Now</p></a>
              <h4><a class="item_add" href=""><i></i></a> <span class=" item_price">$ 35</span></h4>
            </div>
            <div class="srch">
              <span>SALE</span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>

  </div>
	<!--end-single-->
